.skew {
    display: flex;
    flex-direction: column;
}

.skew > .skew-img {
}

.skew > .content {
    padding: 20px;
    color: lightgray;
}

@media (max-width: 768px) {
    .skew > .skew-img {
        order: 1;
    }
    .skew > .content {
        order: 2;
    }
}

@media (min-width: 768px) {
    .skew {
        transform: skew(-5deg);
        flex-direction: row;
        background-position: center;
    }

    .skew-reverse {
        transform: skew(5deg);
    }

    .skew > .skew-img,
    .skew > .content {
        flex: 50%;
    }

    .skew > .content {
        transform: skew(5deg);
    }

    .skew-reverse > .content {
        transform: skew(-5deg);
    }

    .skew > .skew-img {
        border: 2px solid white;
        background-attachment: fixed;
        border-radius: 5px;
    }
}
