.splash_img {
    display: flex;
    /*height: 600px;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    color: white;
    background-attachment: fixed;
}

.splash_img h1 {
    font-size: 72px;
}

.splash_img .splash_img p {
    color: lightgrey;
}

@keyframes imgchange {
    0% {
        background-image: url('http://multiversumvr.nl/assets/img/lux-interaction-xL3xDwWx7_s-unsplash.jpg');
    }
    50% {
        background-image: url('http://multiversumvr.nl/assets/img/stephan-sorkin-kCrwoHRWe8Y-unsplash.jpg');
    }
    100% {
        background-image: url('http://multiversumvr.nl/assets/img/jessica-lewis-DeyfdybVQhA-unsplash.jpg');
    }
}
